:root {}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    interpolate-size: allow-keywords;
}

body {
    background: #151515;
    color: #ddd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: "SUSE";
    font-weight: 200;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    /* background: hsla(0, 0%, 80%, 0.09); */
    background: inherit;
    /* box-shadow: 15px 9px 25px 2px hsla(0, 0%, 100%, 0.025); */

    display: block;

    &:hover {
        background: hsla(0, 0%, 80%, 0.14);
    }
}


header,
footer {
    /* background: rgb(56, 56, 56); */
    padding: 1rem;
    text-align: center;
}

header {
    padding-bottom: 2rem;

}

footer {
    margin-top: auto;
    padding-top: 2rem;
}

main {
    --article-width: 300px;
    /* background: rgb(104, 35, 35); */
    min-height: 0;
    display: grid;
    gap: 1rem 0.75rem;
    padding: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--article-width), 1fr));
    width: 100%;
    max-width: 1600px;
    align-self: center;

    /* flex-grow: 1; */
    /* grid-template-columns: repeat(auto-fit, minmax(400px, clamp(400px, 600px, 700px))); */
}

article {
    /* background: rgba(216, 216, 216, 0.05); */
    background: hsla(0, 0%, 15%, 0.4);
    padding: 0;
    border-radius: 0.525rem;
    overflow: hidden;
    box-shadow: 0 -1px 1px 2px rgba(128, 128, 128, 0.177),
        0 1px 1px 2px rgba(27, 27, 27, 0.177);

    a {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
    }

    &:first-child {
        display: grid;
        place-content: center;
        font-size: 4rem;
        font-weight: 600;
        color: #555;
    }

    .header {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 2rem;
        }

        img {
            height: 250px;
            width: 100%;
            max-width: 100%;
            object-fit: contain;
            object-fit: cover;
            margin: 0 auto;
            display: block;
            position: relative;
            z-index: 1;
        }
    }

    .body {
        max-height: 180px;
        overflow-y: auto;
        flex-grow: 1;
        padding: 0.5rem 0.575rem 1rem;

        >*:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        .title {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.08em;
        }

        .author {
            font-size: 0.9rem;
            font-size: 0.875rem;
            color: #999;
            font-weight: 500;
        }

        /* .description {color: orange;} */

        /* .content {color: rebeccapurple;} */

        /* .source_name {color: hotpink;}  */
    }
}

article .body {
    &::-webkit-scrollbar {
        width: 40px;
        width: calc(5px + 0.3vw);
    }

    &::-webkit-scrollbar-track {
        background: #222;
        border-radius: 2rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 2rem;
        border: 3px solid #222;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }
}

.ui-toggle,
.search {
    display: none;

    &:checked+.ui-toggle-label,
    &:checked+.search-label {
        transform: rotate(90deg);
    }
}

body:has(.ui-toggle:checked) {
    main {
        display: block;
        overflow: hidden;
        max-width: 600px;
        width: fit-content;

        article {
            margin-bottom: 1.5rem;
            flex-direction: row;
            position: relative;
            width: fit-content;
            padding: 0.25rem 0.875rem;



            &:has(a:hover) {
                background: hsla(0, 0%, 80%, 0.14);
            }

            .body {
                width: fit-content;

                .title {
                    font-size: 1.25rem;
                    line-height: 1.15em;
                    font-weight: 400;

                }
            }

            .header,
            .source_name {
                display: none;
            }

            a {
                font-size: 1rem;
                width: fit-content;
                margin: 0;
                align-self: stretch;
                flex-grow: 1;
                order: -1;
                position: absolute;
                /* left: 50%; */
                inset: 0;
                width: 100%;
                background: transparent;
                background: red;
                opacity: 0;
                padding: 0;
            }
        }
    }
}

body:has(.search:checked) {
    .search-bar {
        height: auto;
        padding: 2rem 0 0 12rem;
    }
}

.ui-toggle-label,
.search-label {
    position: fixed;
    inset: 0.5rem auto auto 0.5rem;
    background: rgba(38, 38, 38, 0.8);
    width: 80px;
    height: 80px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    font-size: 4rem;
    font-weight: 900;
    border-radius: 999rem;
    transition: transform 0.35s ease;
    user-select: none;
    z-index: 3;

    &:hover {
        cursor: pointer;
        background: hsla(0, 0%, 80%, 0.14);
    }
}

.search-label {
    inset: 0.5rem auto auto calc(80px + 1rem);
}

.search-bar {
    position: fixed;
    inset: 0;
    background: #222;
    z-index: 2;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;

    input {
        align-self: flex-start;
        font-size: 3.5rem;
        font-family: inherit;
    }
}