nav {
    position: sticky;
    top: 0;
    background: rgb(24, 24, 24);
    z-index: 3;
    padding: 1rem;
    margin: -1rem -1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto 1fr;
    align-items: center;

    .toggles {
        display: flex;
        gap: 0.25rem;

        .search,
        .ui {}

        .search {
            position: relative;
            z-index: 5;
        }

        .ui {}

        input {
            display: none;
        }

        label {
            background: rgba(38, 38, 38, 0.8);
            width: 80px;
            height: 80px;
            aspect-ratio: 1;
            display: grid;
            place-content: center;
            font-size: 4rem;
            font-weight: 900;
            border-radius: 999rem;
            transition: transform 0.35s ease;
            user-select: none;
            z-index: 4;
            line-height: 0;

            &:hover {
                cursor: pointer;
                background: hsla(0, 0%, 80%, 0.14);
            }
        }
    }

    a {
        text-decoration: none;
        color: inherit;
        background: rgba(38, 38, 38, 0.8);
        /* width: 80px; */
        height: 80px;
        aspect-ratio: 1;
        display: grid;
        place-content: center;
        font-size: 1.5rem;
        font-weight: 200;
        border-radius: 999rem;
        transition: transform 0.35s ease;
        user-select: none;
        z-index: 4;
        white-space: nowrap;
        padding: 0 30px;
        /* line-height: 0; */

        &:hover {
            cursor: pointer;
            background: hsla(0, 0%, 80%, 0.14);
        }

    }

    h1 {
        margin-left: 1rem;
    }

    .search-bar {
        /* box-sizing: content-box; */
        position: fixed;
        inset: 0;
        background: #222;
        z-index: 4;
        height: 0;
        overflow: hidden;
        display: flex;
        padding: 0 0 0 12rem;
        transition: height 0.3s ease, padding 0.1s 0.2s;

        input {
            align-self: flex-start;
            font-size: 3.5rem;
            font-family: inherit;
        }
    }

    .search input,
    .ui input {
        &:checked+label {
            transform: rotate(90deg);
        }
    }
}

body:has(.toggles .search input:checked) {
    .search-bar {
        height: auto;
        padding-top: 2rem;
        transition: height 0.3s ease;
        
    }
}