* {
    box-sizing: border-box;
    margin: 0;
}

html {
    interpolate-size: allow-keywords;
}

body {
    background: #151515;
    color: #ddd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: "SUSE";
    font-weight: 200;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
}

article {

    a {
        text-decoration: none;
        color: inherit;
    }

    &:hover,
    &:hover .source-name {
        background: hsl(0, 0%, 15%);
    }
}


header,
footer {
    /* background: rgb(56, 56, 56); */
    padding: 1rem;
    text-align: center;
    /* display: none; */
}

header {
    padding-bottom: 2rem;

}

footer {
    margin-top: auto;
    padding-top: 2rem;
}

main {
    --article-width: 300px;
    /* background: rgb(104, 35, 35); */
    min-height: 0;
    display: grid;
    gap: 1rem 0.75rem;
    padding: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--article-width), 1fr));
    /* grid-auto-rows: 500px; */
    width: 100%;
    max-width: 1600px;
    align-self: center;



    /* flex-grow: 1; */
    /* grid-template-columns: repeat(auto-fit, minmax(400px, clamp(400px, 600px, 700px))); */
}

.json-data {
    display: none;
}

article {
    background: #1c1c1c;
    padding: 0;
    padding-block-end: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 -1px 1px 2px rgba(128, 128, 128, 0.177),
        0 1px 1px 2px rgba(27, 27, 27, 0.177);
    position: relative;

    .save-button {
        color: red;
        font-size: 2rem;
        background: #222;
        padding: 1rem;
        position: relative;
        z-index: 1;

        &:hover {
            background: #444;
        }
    }

    &.fetch-count,
    &.saved-count {
        display: grid;
        place-content: center;
        font-size: 4rem;
        font-weight: 600;
        color: #555;
        text-align: center;
        grid-column: 1 / -1;
        /* grid-row: span 2; */

        @media(width > 700px) {}

        @media(width > 1350px) {
            /* grid-column: span 4; */
        }
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
    }

    .header {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 2rem;
        }

        img {
            height: 250px;
            width: 100%;
            max-width: 100%;
            object-fit: contain;
            object-fit: cover;
            margin: 0 auto;
            display: block;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .date {
            font-size: 0.7rem;
            font-weight: 500;
            text-transform: uppercase;
            position: absolute;
            inset: auto 10px 10px auto;
            background: #0000007e;
            padding: 0.15rem;
        }


    }

    .body {
        /* height: 100%; */
        overflow-y: auto;
        padding: 0.5rem;
        height: 320px;

        /* display: grid; */
        /* grid-template-rows: 1fr auto; */

        >* {
            margin-bottom: 0.5rem;
        }

        .source-name {
            text-transform: uppercase;
            font-size: 0.7rem;
            border-radius: 0.25rem;
            font-weight: 500;
            color: #999;
        }

        .title {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.08em;
        }

        .description {
            /* display: none; */
        }

        .content {
            /* display: none; */
        }
    }
}

article .body {
    &::-webkit-scrollbar {
        width: 40px;
        width: calc(5px + 0.3vw);
    }

    &::-webkit-scrollbar-track {
        background: #222;
        border-radius: 2rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 2rem;
        border: 3px solid #222;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }
}

body:has(.ui input:checked) {
    main {
        display: block;
        overflow: hidden;
        max-width: 600px;
        width: fit-content;

        article {
            margin-bottom: 2rem;
            max-height: 600px;

            &:has(a:hover) {
                /* background: hsla(0, 0%, 80%, 0.14); */
            }

            .body {
                width: fit-content;
                max-height: 400px;
                font-size: 1.25rem;

                .title {
                    font-size: 1.5rem;
                    line-height: 1.15em;
                    font-weight: 400;
                }
            }

        }
    }
}