{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        The News
      {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/style.css' %}" />
    <link rel="stylesheet" href="{% static 'main/nav.css' %}" />
  </head>
  <body>
    {% csrf_token %}
    <nav>
      <div class="toggles">
        <div class="search">
          <input id="search-toggle" type="checkbox" name="search" />
          <label for="search-toggle">
            <span class="material-icons-outlined">search</span>
          </label>
        </div>
        <div class="ui">
          <input id="ui-toggle" type="checkbox" name="ui-toggle" />
          <label for="ui-toggle">
            <span class="material-icons-outlined">density_small</span>
          </label>
        </div>
      </div>
      <a href="{% url 'my_articles' %}">My Articles</a>
      <h1>The News</h1>
      <div class="search-bar">
        <form action="{% url 'fetch_articles' %}" method="GET">
          <input type="text" name="q" id="search-query" placeholder="Search…" />
          <label for="everything">Everything</label>

          <input type="radio" name="endpoint" id="everything" value="everything" checked> 
          <label for="headlines">Headlines</label>

          <input type="radio" name="endpoint" id="headlines" value="headlines">
          <button type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      <p>© 2025 The News</p>
    </footer>
    <script src="{% static 'main/save_article.js' %}"></script>
  </body>
</html>
