{% extends 'main/base.html' %}
{% load static %}


{% block title %}
  Home
{% endblock %}

{% block content %}
<article>
    <p>{{ articles|length }} </p>
    <p>Articles</p>
</article>
  {% for article in articles %}
    <article>
        <a href="{{ article.url }}" target="_blank">
            <div class="header">
            {% if article.url_to_image %}
                <img src="{{ article.url_to_image }}" alt="" />
            {% else %}
                <img src={% static "main/missing_image.png" %} alt="" />
            {% endif %}
            </div>
            <div class="body">
                <h3 class="title">{{ article.title }}</h3>
                <p class="author">
                    <strong>{{ article.author }}</strong> — {{ article.published_at|date:"d/m/y" }}
                </p>
                {% comment %} <p class="description">{{ article.description }}</p>
                <p class="content">{{ article.content }}</p> {% endcomment %}
                <p class="source_name">{{ article.source_id }}</p>
            </div>
        </a>
    </article>
  {% empty %}
    <p>No articles found.</p>
  {% endfor %}
{% endblock %}
