{% extends 'main/base.html' %}
{% load static %}
{% load human_date %}


{% block title %}
  Home
{% endblock %}

{% block content %}
<article class="fetch-count">
  <p>{{ fetched_articles|length }} </p>
  <p>Fetched Articles</p>
</article>

{% for article in fetched_articles %}
<div class="json-data" id="article-data-{{ forloop.counter }}">
  {{article|json_script:"article_data"}}
</div>
<article >
    <button class="save-button" id="save-button-{{ forloop.counter }}">Save</button>
    <a href="{{ article.url }}" target="_blank">
        <div class="header">
            {% if article.url_to_image %}
                <img src="{{ article.url_to_image }}" alt="" />
            {% else %}
                <img src="{% static 'main/missing_image.png' %}" alt="" />
            {% endif %}
            <p class="date">{{ article.published_at|human_date }}</p>
        </div>
        <div class="body">
            <h3>{{ article.title }}</h3>
            <p>{{ article.source_id }}</p>
            <p>{{ article.description }}</p>
            <p>{{ article.content }}</p>
        </div>
    </a>
</article>
{% endfor %}


<article class="saved-count">
  <p>{{ saved_articles|length }} </p>
  <p>Saved Articles</p>
</article>
  {% for article in saved_articles %}
    <article>
        <a href="{{ article.url }}" target="_blank">
          <div class="header">
            {% if article.url_to_image %}
                <img src="{{ article.url_to_image }}" alt="" />
            {% else %}
                <img src={% static "main/missing_image.png" %} alt="" />
            {% endif %}
            <p class="date">{{ article.published_at|human_date }}</p>
          </div>
          <div class="body">
            <h3 class="title">{{ article.title }}</h3>
            <p class="source-name">{{ article.source_id }}</p>
            <p class="description">{{ article.description }}</p>
            <p class="content">{{ article.content }}</p> 
          </div>
        </a>
    </article>
  {% endfor %}
{% endblock %}
