{% extends 'main/base.html' %}
{% load static %}


{% block title %}
  World Map
{% endblock %}

{% block content %}

<div class="world-map">
  <img id="world-map-img" src={% static "main/images/earth_map.jpg" %} alt="">
  <div class="locations">
    {% for article in articles %}
      {% for loc in article.all_locations %}
        <div class="location" style="top:{{ loc.top_percent }}%; left:{{ loc.left_percent }}%">
          <img src="{{ article.url_to_image }}" alt="">
          <h3 class="title">{{ article.title }}</h3>
          <div class="marker"></div>
          <div class="body">
            {{ loc.city }}, {{ loc.state }}, {{ loc.country }}
          </div>
          {% comment %} x {{ loc.longitude|floatformat:2 }}, y: {{ loc.latitude|floatformat:2 }}  {% endcomment %}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% endblock %}






{% if loc.is_primary %}★ Primary{% endif %}
