.settings-header {
    margin-bottom: 2rem;

    .settings-nav {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto 1fr;

        button {
            background: #333;
            padding: 1rem;
            width: fit-content;

            &.show {
                background: #555;
            }
        }
    }
}

.settings-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    max-width: 800px;

    .top-level-radio {
        display: none;
    }

    >label {
        background: #333;
        padding: 0 1.5rem;
        height: 50px;
        align-content: center;
        font-size: min(calc(0.75rem + 0.75vw), 1.5rem);
        font-weight: 600;
        user-select: none;

        >.title {
            transition: 0.5s ease;
        }

    }

    .country-and-category-label {
        position: relative;
        padding: 0;
        background: none;

        >.title {
            background: #333;
            padding: 0 1.5rem;
            height: 100%;
            align-content: center;
        }

        >.body {
            position: absolute;
            inset: 0;
            display: none;
            transition: 0.5s ease;
            overflow-y: hidden;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            >* {
                align-content: center;
                background: #333;
            }
        }
    }

    &:has(>input:checked)>input:checked+label {
        .title {
            display: none;
        }

        .body {
            display: grid;
        }
    }

    &:has(>input:checked:not(#country-and-category))>input:checked+label {
        background: #555;
    }
}




.settings-main .country-and-category-label .body .toggle {
    input {
        display: none;
    }

    label {
        /* background: lime; */
        width: 100%;
        height: 100%;
        display: block;
        padding: 0 1.5rem;
        align-content: center;
    }

    &:has(input:checked) label {
        background: #555;
    }
}

.setting-selectors {
    .selector {
        display: none;

        .country-input,
        .category-input,
        .source-input {
            display: none;
        }

        .country-label,
        .category-label,
        .source-label {
            background: #333;
            padding: 0.7rem 1rem;
            margin-bottom: 1px;
            display: block;
            user-select: none;
        }
    }
}

.setting-selectors .selector:has(.country-input:checked) .country-input:checked+label,
.setting-selectors .selector:has(.category-input:checked) .category-input:checked+label,
.setting-selectors .selector:has(.source-input:checked) .source-input:checked+label {
    background: #555;
}


/* open target */
body:has(#country-toggle:checked) .country-selector,
body:has(#category-toggle:checked) .category-selector,
body:has(#source:checked) .source-selector {
    display: block;
}

/* hide country and category targets when sources is checked */
body:has(#source:checked) .country-selector,
body:has(#source:checked) .category-selector {
    display: none;
}