/* ---- HEADER ----- */
.settings-header {
    margin-block: 1.5rem 2.5rem;

    h3 {
        padding: 0.7rem 1rem;
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        color: #aaa;
    }

    .settings-nav {
        display: flex;
        gap: 1rem;

        button {
            background: #333;
            padding: 1rem;
            border-radius: 0;

            &.show {
                background: #555;
            }
        }
    }
}

/* ---- MAIN ---- */
.settings-main {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto 1fr;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;

    .top-level-radio {
        display: none;
    }

    >label {
        padding: 0 1.5rem;
        height: 50px;
        align-content: center;
        font-size: 1rem;
        font-weight: 400;
        user-select: none;
        border-radius: 0.5rem;

        &.source-label {
            border: 2px solid rgba(202, 202, 202, 0.5);
            min-width: calc(150px - 0.5rem);
        }

        >.title {
            transition: 0.5s ease;
        }
    }

    .country-and-category-label {
        position: relative;
        padding: 0;
        background: none;
        min-width: 300px;


        >.title {
            padding: 0 1.5rem;
            height: 100%;
            align-content: center;
            border-radius: 0.5rem;
            border: 2px solid rgba(202, 202, 202, 0.5);
        }

        >.body {
            position: absolute;
            inset: 0;
            display: none;
            transition: 0.5s ease;
            overflow-y: hidden;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            >* {
                align-content: center;
            }
        }
    }

    &:has(>input:checked)>input:checked+label {
        .title {
            display: none;
        }

        .body {
            display: grid;
        }
    }
}

/* ---- MAIN TOGGLE ---- */
.settings-main .country-and-category-label .body .toggle {
    input {
        display: none;
    }

    label {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0 1.5rem;
        align-content: center;
        border-radius: 0.5rem;
        overflow: hidden;
        border: 2px solid rgba(202, 202, 202, 0.5);

    }
}


/* ---- SELECTORS ---- */
.setting-selectors {
    .selector {
        display: none;

        .country-input,
        .category-input,
        .source-input {
            display: none;
        }

        .country-label,
        .category-label,
        .source-label {
            background: #333;
            padding: 0.7rem 1rem;
            margin-bottom: 1px;
            display: block;
            user-select: none;
        }

        .title {
            column-span: all;
            padding: 0.7rem 1rem;
            font-weight: 600;
            font-size: 1.17rem;
            text-transform: uppercase;
        }
    }
}

/* ---- CONDITIONS ---- */

/* Highlight selected fetch-group - simulate checkbox */
.settings-main:has(>input:checked:not(#country-and-category))>input:checked+label,
.settings-main .country-and-category-label .body .toggle:has(input:checked) label {
    background: #555;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        inset: 50% 15px 0 auto;
        background: hsla(0, 0%, 75%, 1);
        transform: translateY(-50%);
        box-shadow: 0 0 0px 1.5px hsla(0, 0%, 75%, 1);
        width: 3px;
        height: 3px;
        aspect-ratio: 1;
        display: inline-block;
        border-radius: 99rem;
        margin-left: 0.75rem;
        padding: 0.3rem 0.3rem 0 0;
        /* transform: translateY(-0.07rem); */
    }
}

/* highlight selected values */
.setting-selectors .selector:has(.country-input:checked) .country-input:checked+label,
.setting-selectors .selector:has(.category-input:checked) .category-input:checked+label,
.setting-selectors .selector:has(.source-input:checked) .source-input:checked+label {
    background: #555;
}

/* open target */
body:has(#country-toggle:checked) .country-selector,
body:has(#category-toggle:checked) .category-selector,
body:has(#source:checked) .source-selector {
    display: block;
}

/* hide country and category targets when sources is checked */
body:has(#source:checked) .country-selector,
body:has(#source:checked) .category-selector {
    display: none;
}