name: Fetch Headlines

on:
  schedule:
    # - cron: '0 * * * *'    # every hour
    - cron: '*/5 * * * *'  # every 5 minutes
  workflow_dispatch: # allows manual trigger

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Django fetch endpoint
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ secrets.FETCH_HEADLINES_URL }}
          method: GET
          timeout: 180000  # 3min
          retry: 3
