name: Fetch Headlines

on:
  schedule:
    - cron: '0 * * * *'  # every hour
  workflow_dispatch: 

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Show current UTC time
        run: date -u

      - name: Trigger Django fetch endpoint
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ secrets.FETCH_HEADLINES_URL }}
          method: GET
          timeout: 180000
          retry: 3