.articles {
    --article-width: 300px;
    display: grid;
    gap: 1rem 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--article-width), 1fr));
    max-width: 1600px;
    align-self: center;
    padding: 0.5rem;
    margin-inline: auto;
}

article {
    --body-content-height: 180px;
    --body-padding-bottom: 0.5rem;
    --body-height: calc(var(--body-content-height) + var(--body-padding-bottom));
    background: #1c1c1c;
    padding: 0;
    padding-block-end: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 -1px 1px 2px rgba(128, 128, 128, 0.177),
        0 1px 1px 2px rgba(27, 27, 27, 0.177);
    position: relative;
    /* transition: all 0.5s; */

    .save-button {
        color: rgb(255, 255, 255);
        font-size: 1.4rem;
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        background: transparent;
        position: absolute;
        z-index: 1;
        inset: 0 0 var(--body-height) 0;
        /* opacity: 0; */

        transition: all 0.05s;
        border: none;
        outline-offset: -10px;
        /* outline: 1px solid rgba(255, 255, 255, 0.768); */
        border-radius: 0.5rem 0.5rem 0 0;
        line-height: 2.7rem;

        .icon {
            font-size: 5rem;
            color: #e4e4e4e9;
            line-height: 1;
            /* -webkit-text-stroke: 1px #0c0c0c90; */
            pointer-events: none;
            padding: 0.5rem;
            background: #0000007e;
            border-radius: 999rem;
        }

        &:hover {
            opacity: 1;
            background: #00000055;
            backdrop-filter: blur(1px);
        }
    }

    &.fetch-count,
    &.saved-count {
        display: grid;
        place-content: center;
        font-size: 4rem;
        font-weight: 600;
        color: #555;
        text-align: center;
        /* grid-column: 1 / -1; */
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
    }

    .header {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 2rem;
        }

        img {
            height: 250px;
            width: 100%;
            max-width: 100%;
            object-fit: contain;
            object-fit: cover;
            margin: 0 auto;
            display: block;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .date {
            font-size: 0.7rem;
            font-weight: 500;
            text-transform: uppercase;
            position: absolute;
            inset: auto 10px 10px auto;
            background: #0000007e;
            padding: 0.15rem;
        }
    }

    .body {
        overflow-y: auto;
        padding: 0.5rem;
        height: var(--body-content-height);
        transition: all 0.3s;

        >* {
            margin-bottom: 0.5rem;
        }

        .source-name {
            text-transform: uppercase;
            font-size: 0.7rem;
            border-radius: 0.25rem;
            font-weight: 500;
            color: #999;
            background: none;
        }

        .title {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.08em;
        }
    }
}