nav {
    position: sticky;
    inset: 0 0 auto 0;
    background: rgb(24, 24, 24);
    /* background: lime; */
    z-index: 3;
    padding: 1rem;
    /* padding: 0.15rem; */
    margin: -1rem -1rem 0;
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: auto auto 1fr;
    /* height: 600px !important; */



    .body {
        display: flex;
        gap: 0.25rem;

        .search,
        .ui {}

        .search {
            position: relative;
            z-index: 5;
        }

        .ui {}

        input {
            display: none;
        }

        label {
            background: rgba(38, 38, 38, 0.8);
            /* width: 1vw; */
            /* height: 80px; */
            padding: 1vw;
            aspect-ratio: 1;
            display: grid;
            place-content: center;
            font-size: 4rem;
            font-weight: 900;
            /* border-radius: 999rem; */
            user-select: none;
            z-index: 4;
            line-height: 0;

            span {
                transition: transform 0.35s ease;
            }

            &:hover {
                cursor: pointer;
                background: hsl(0, 0%, 20%);
            }
        }
    }

    a {
        text-decoration: none;
        color: inherit;
        background: rgba(38, 38, 38, 0.8);
        /* width: 1vw; */
        padding: 1vw;
        /* width: 80px; */
        /* height: 80px; */
        aspect-ratio: 1;
        display: grid;
        place-content: center;
        font-size: 1.5rem;
        font-weight: 200;
        /* border-radius: 999rem; */
        transition: transform 0.35s ease;
        user-select: none;
        z-index: 4;
        white-space: nowrap;
        /* background: red; */
        /* padding: 0 30px; */
        /* line-height: 0; */

        &:hover {
            cursor: pointer;
            background: hsl(0, 0%, 20%);
        }

    }

    h1 {
        margin-left: 1rem;
        font-size: calc(0.5rem + 2vw);
    }

    .search-bar {
        position: fixed;
        inset: 0;
        z-index: 4;
        overflow: hidden;
        display: grid;
        place-content: center;

        background: #222;
        height: 0;

        transition: height 0.3s ease, padding 0.1s 0.2s;

        form {
            width: 100%;
            display: block;

            input {
                min-width: 0px;
            }
            .endpoints {
                background: lime;
                display: grid;
                grid-template-columns: 1fr 1fr;

                .endpoint {
                    background: rgb(75, 75, 75);

                    label {
                        width: 100%;
                        display: block;
                        padding: 2rem 0;
                        text-align: center;
                        font-size: 1.5rem;
                    }

                    &:has(input:checked) label {
                        background: rgb(202, 202, 202);
                        color: #151515;
                    }
                }
            }
        }

        .query {
            /* background: orange; */
            display: grid;
            grid-template-columns: 1fr auto;
            background: #333;

            input {
                font-size: 3.5rem;
                font-family: inherit;
                background: transparent;
                border: none;
                color: inherit;
                padding: 1rem 2.5rem;
                border-radius: 0;

                &:focus-within {
                    background: rgb(17, 17, 17);
                    border: none;
                    outline: none;
                }
            }

            button {
                height: 100%;
                aspect-ratio: 1;
                background: transparent;
                border: none;
                color: #ddd;
            }
        }

        input[type='radio'] {
            display: none;
        }

    }

    .search input:checked+label span {
        transform: rotateX(180deg)
    }

    .ui input:checked+label span {
        transform: rotate(-90deg);
    }

}

body:has(.body .search input:checked) {
    .search-bar {
        height: auto;
        transition: height 0.3s ease;
    }
}

/* body .search-bar {
    height: auto;
    padding-top: 2rem;
} */

@media(width > 800px) {
    nav {
        /* background: red !important; */
    }
}