h1 {
    margin-bottom: 0.5rem;
}

.sources {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem 1.2rem;

    .source {
        justify-items: center;
        /* background: rgb(33, 33, 33); */
        border-radius: 0.35rem;
        
        display: grid;
        grid-template-rows: auto 1fr;
        font-size: 0.85rem;
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;



        img {
            width: 100%;
            /* height: 80px; */
            aspect-ratio: 200 / 80;
            object-fit: contain;
            object-fit: cover;
            display: block;
            margin-inline: auto;
            /* max-height: 90%; */
            /* padding: 0.25rem; */
            /* margin-inline: auto; */
            background: rgb(38, 38, 38);
            filter: saturate(0.67)  grayscale(0.18) brightness(0.7);
            
        }

        .body {
            display: grid;
            grid-template-columns: 1fr auto;
            padding: 0.45rem 0.5rem;
            width: 100%;
            /* background: rgb(54, 54, 54); */
        }

        .title {
            .name {
                font-weight: 700;
                /* font-size: 1.25rem; */
            }

            .category {
                /* font-weight: 600; */
                text-transform: capitalize;
                font-size: 0.75rem;
                color: rgb(183, 183, 183);
            }

        }

        .location {
            color: rgb(183, 183, 183);
            /* padding: 0 0.35rem; */
            /* text-align: end; */

            .language {
                font-weight: 600;
            }

            .country {
                font-weight: 400;
                /* color: rgb(70, 125, 145); */
                /* text-transform: uppercase; */
                font-size: 0.75rem;

            }

        }

        .description {
            padding: 0 0.35rem;
            /* height: 105px; */
            overflow-y: auto;
            font-size: 0.9em;
            display: none;
        }

    }
}