.world-map {
    width: fit-content;
    /* width: 100%; */
    height: 80vh;   
    position: relative;
    background: red;
    margin-inline: auto;

    img {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 80vh;
    }
}

.locations {
    .location {
        background: #000000bf;
        position: absolute;
        transform: translate(-50%);
        font-size: 0.85rem;
    }
}