.world-map {
    width: fit-content;
    /* height: fit-content; */
    /* width: 100%; */
    /* height: 75vh; */
    max-height: 75vh;
    position: relative;
    margin-inline: auto;
    /* background: red; */
    overflow: visible;
    overflow-x: hidden;

    .map-image {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 75vh;
    }
}


.locations {
    position: absolute;
    inset: 0;
    /* background: red; */
    z-index: 2;

    .location {
        /* top and left are set in template */
        position: absolute;
        transform: translate(-50%);
        font-size: 0.6rem;
        font-weight: 400;
        transition: all 0.5s 0.1s;
        /* background: lime; */
        /* width: 100%; */
        /* height: 100%; */

        .marker {
            background: red;
            width: 5px;
            aspect-ratio: 1;
            box-shadow: 0 0 0 1px rgb(38, 38, 38);
            border-radius: 999rem;
            position: relative;
            z-index: 1;
            transform: translate(-50%);
            display: block;
        }

        .body {
            position: absolute;
            top: 4px;
            white-space: nowrap;
            transform: translate(-50%);

            color: #fff;
            background: #000;
            box-shadow: 0 0 0 1px rgba(49, 49, 49, 0.56), 0 0 3px 0 rgba(49, 49, 49, 0.732);
            padding: 1px 4px;
            /* display: none; */
        }

        .coordinates {
            display: none;
        }

        &:hover {
            z-index: 2;
            opacity: 1 !important;
            cursor: pointer;
            font-size: 1rem;
            
            .marker {
                /* background: rgba(89, 89, 89, 0.406); */
            }
        }
    }
}

.location-hover-details {
    position: absolute;
    inset: 0;
    
    .detail {
        height: 100%;
        background: rgba(191, 191, 191, 0.598);
        display: none;

        .article-img {
            /* position: absolute; */
            display: block;
            /* inset: 0; */
            /* top: 30px; */
    
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s 0.1s;
            pointer-events: none;
            z-index: 0;
            /* opacity: 0.9; */
            padding: 30vh 30vh 10px;
            box-shadow: 2px 2px 15px 0 black;
            
            
        }
    
        .title {
            position: absolute;
            inset: 0 0 auto 0;
            color: #000000;
            background: #ffffff93;
            padding: 1px 4px;
            /* transform: translate(-50%); */
            font-size: 1.5rem;
            pointer-events: none;
            opacity: 1;
            transition: all 0.5s 0.1s;
            padding: 0.5rem 1rem;
            /* display: none; */
        }

        .close-button {
            position: absolute;
            inset: 0 0 auto auto;
            /* background: red; */
            width: 100px;
            aspect-ratio: 1;
            z-index: 3;
            display: block;
            font-size: 5rem;
            color: inherit;
            text-decoration: none;
            background: rgba(31, 31, 31, 0.318);
            text-align: center;
            
            
            &:hover {
                background: rgba(78, 78, 78, 0.318);
            }
        }

        &:target {
            display: block;
        }
    }


}