.world-map {
    width: fit-content;
    /* width: 100%; */
    height: 80vh;
    position: relative;
    margin-inline: auto;

    img {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 80vh;
    }
}

.locations:has(.location:hover) {
    .location {
        opacity: 0.1;
    }
}

.locations {
    .location {
        position: absolute;
        transform: translate(-50%);
        font-size: 0.6rem;
        font-weight: 400;
        transition: all 0.5s 0.1s;

        .marker {
            background: red;
            width: 5px;
            box-shadow: 0 0 0 1px rgb(38, 38, 38);
            aspect-ratio: 1;
            border-radius: 999rem;
            position: relative;
            z-index: 1;
        }

        .body {
            position: absolute;
            top: 5px;
            white-space: nowrap;
            transform: translate(-50%);

            color: #000000;
            background: #ffffff;
            box-shadow: 0 0 0 1px rgba(49, 49, 49, 0.56), 0 0 3px 0 rgba(49, 49, 49, 0.732);
            padding: 1px 4px;
        }

        img {
            position: absolute;
            top: 30px;
            display: block;
            width: 650px;
            max-width: 650px;
            height: 200px;
            object-fit: cover;
            transform: translate(-50%);
            transition: all 0.5s 0.1s;
            pointer-events: none;
            z-index: 0;
            opacity: 0;
        }

        .title {
            width: 650px;
            position: absolute;
            top: 30px;
            color: #000000;
            background: #ffffff93;
            padding: 1px 4px;
            transform: translate(-50%);
            font-size: 1rem;
            pointer-events: none;
            opacity: 0;
            transition: all 0.5s 0.1s;
        }

        &:hover {
            z-index: 2;
            opacity: 1 !important;
            cursor: default;
            font-size: 1rem;

            img {
                opacity: 1;
            }

            .title {
                opacity: 1;
            }
        }
    }
}